# Practice_Part_02: Data Indexing and Selection Solution

#### Exercise_01
1. For the data set given below construct the DataFrame object
2. Get the first four rows of a DataFrame using indexing method

In [1]:
import pandas as pd
import numpy as np

In [2]:
exam_data  = {'name': ['Anjum', 'Anali', 'Souria', 'Rockea', 'Imani', 'Mouliya', 'Julie', 'Rana', 'Kavin', 'Bosia'], 
              'score': [15.5, 9, 16.5, np.nan, 9, 30, 17.5, np.nan, 8, 20], 
              'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
              'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 
labels = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

1. For the data set given below construct the DataFrame object

In [3]:
# step1 : let's construct the DataFrame first

In [4]:
data = pd.DataFrame(exam_data , index=labels) 
print(data)

      name  score  attempts qualify
A    Anjum   15.5         1     yes
B    Anali    9.0         3      no
C   Souria   16.5         2     yes
D   Rockea    NaN         3      no
E    Imani    9.0         2      no
F  Mouliya   30.0         3     yes
G    Julie   17.5         1     yes
H     Rana    NaN         1      no
I    Kavin    8.0         2      no
J    Bosia   20.0         1     yes

2. Get the first four rows of a DataFrame using indexing method

In [5]:
# step2: we can use 'loc' method to select the first 4 rows implicitly, since we have used explicit index labels for 
# both rows and columns

In [6]:
print(data.iloc[:4])

     name  score  attempts qualify
A   Anjum   15.5         1     yes
B   Anali    9.0         3      no
C  Souria   16.5         2     yes
D  Rockea    NaN         3      no

#### Exercise_02 Solution
For the DataFrame created in Exercise_01.
1. Select the columns 'score' and 'attempts' in rows 1, 3, 5, 7
2. Count the number of rows and columns without shape attribute
3. Select the rows where the score is between 16 and 20
4. select the rows where number of attempts in the examination is less than 2 and score greater than 16

In [7]:
# Step_1: display the data first

In [8]:
print(data)

      name  score  attempts qualify
A    Anjum   15.5         1     yes
B    Anali    9.0         3      no
C   Souria   16.5         2     yes
D   Rockea    NaN         3      no
E    Imani    9.0         2      no
F  Mouliya   30.0         3     yes
G    Julie   17.5         1     yes
H     Rana    NaN         1      no
I    Kavin    8.0         2      no
J    Bosia   20.0         1     yes

1. Select the columns 'score' and 'attempts' in rows 1, 3, 5, 7

In [9]:
# Step_2: select the rows and columns using integer index notation, use 'iloc' for integer based row selection

In [10]:
data.iloc[[1, 3, 5, 7], [1, 2]]

   score  attempts
B    9.0         3
D    NaN         3
F   30.0         3
H    NaN         1

2. Count the number of rows and columns without shape attribute

In [11]:
# Step_3: select the rows and columns first using 'axes' method and pass 0 for rows and 1 for columns selections
# This also helps in displaying the total rows and columns for medium size files

In [12]:
data.axes[0]

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')

In [13]:
data.axes[1]

Index(['name', 'score', 'attempts', 'qualify'], dtype='object')

In [14]:
# Step_4: use 'len' function on these indices to count the number of rows and columns

In [15]:
print('The number of rows:', len(data.axes[0]))
print('The number of columns:', len(data.axes[1]))

The number of rows: 10
The number of columns: 4

3. Select the rows where the score is between 16 and 20

In [16]:
# Let's display the data first

In [17]:
print(data)

      name  score  attempts qualify
A    Anjum   15.5         1     yes
B    Anali    9.0         3      no
C   Souria   16.5         2     yes
D   Rockea    NaN         3      no
E    Imani    9.0         2      no
F  Mouliya   30.0         3     yes
G    Julie   17.5         1     yes
H     Rana    NaN         1      no
I    Kavin    8.0         2      no
J    Bosia   20.0         1     yes

In [18]:
# step5: Select the 'score' column using indexing method i.e. inside the '[]' and apply the 'between' function to 
# display the boolean dataframe

In [19]:
selection = data['score'].between(16, 20)
selection

A    False
B    False
C     True
D    False
E    False
F    False
G     True
H    False
I    False
J     True
Name: score, dtype: bool

In [20]:
# step6: Pass this selection inside the indexing method i.e. using '[]' to display the dataframe rows that follows 
# the True condition

In [21]:
print(data[selection])

     name  score  attempts qualify
C  Souria   16.5         2     yes
G   Julie   17.5         1     yes
J   Bosia   20.0         1     yes

In [22]:
# Alternatively we can pass the selection directly inside the indexing method

In [23]:
print(data[data['score'].between(16, 20)])

     name  score  attempts qualify
C  Souria   16.5         2     yes
G   Julie   17.5         1     yes
J   Bosia   20.0         1     yes

4. Select the rows where number of attempts in the examination is less than 2 and score is greater than 16

In [24]:
# Let's display the data first

In [25]:
print(data)

      name  score  attempts qualify
A    Anjum   15.5         1     yes
B    Anali    9.0         3      no
C   Souria   16.5         2     yes
D   Rockea    NaN         3      no
E    Imani    9.0         2      no
F  Mouliya   30.0         3     yes
G    Julie   17.5         1     yes
H     Rana    NaN         1      no
I    Kavin    8.0         2      no
J    Bosia   20.0         1     yes

In [26]:
# step7: apply the conditions separately on the columns 'attempts' and 'score'

In [27]:
(data['attempts'] < 2)

A     True
B    False
C    False
D    False
E    False
F    False
G     True
H     True
I    False
J     True
Name: attempts, dtype: bool

In [28]:
(data['score'] > 16)

A    False
B    False
C     True
D    False
E    False
F     True
G     True
H    False
I    False
J     True
Name: score, dtype: bool

In [29]:
# step8: sombine theses two conditions to form a one full condtion using '&' operator and then name the condition 
# using Python identifiers method

In [30]:
condition = (data['attempts'] < 2) & (data['score'] > 16)

In [31]:
# step9: pass this condition to the index method to select the DataFrame rows and columns where 'attempts' < 2 and 
# 'score' > 16

In [32]:
print(data[condition])

    name  score  attempts qualify
G  Julie   17.5         1     yes
J  Bosia   20.0         1     yes

In [33]:
# Alternatively we can pass the entire condtion directly inside the index method to select the DataFrame rows and columns

In [34]:
print(data[(data['attempts'] < 2) & (data['score'] > 16)])

    name  score  attempts qualify
G  Julie   17.5         1     yes
J  Bosia   20.0         1     yes

#### Exercise_03 Solution
For the DataFrame created in Exercise_01;
1. Change the score of rows 'C' and 'I' to 16 
2. Calculate the sum of the examination attempts by the students
3. Add new row with the details name : ‘Rupali’, score: 16, attempts: 2, qualify: ‘yes’, label: ‘L’. After adding the new row display it and remove it to maintain the original DataFrame.
4. Remove the last 4 rows and save it as a new DataFrame.

In [35]:
# Let's display the data first

In [36]:
print(data)

      name  score  attempts qualify
A    Anjum   15.5         1     yes
B    Anali    9.0         3      no
C   Souria   16.5         2     yes
D   Rockea    NaN         3      no
E    Imani    9.0         2      no
F  Mouliya   30.0         3     yes
G    Julie   17.5         1     yes
H     Rana    NaN         1      no
I    Kavin    8.0         2      no
J    Bosia   20.0         1     yes

1. Change the score of rows 'C' and 'I' to 16

In [37]:
# step1: use the 'loc' method to select the rows and columns by the labels and then assign the new score

In [38]:
data.loc[['C', 'I'], 'score'] = 16
data

      name  score  attempts qualify
A    Anjum   15.5         1     yes
B    Anali    9.0         3      no
C   Souria   16.0         2     yes
D   Rockea    NaN         3      no
E    Imani    9.0         2      no
F  Mouliya   30.0         3     yes
G    Julie   17.5         1     yes
H     Rana    NaN         1      no
I    Kavin   16.0         2      no
J    Bosia   20.0         1     yes

2. Calculate the sum of the examination attempts by the students

In [39]:
# step2: select the column 'attempts' by using the index method and apply the 'sum' function on it

In [40]:
print(data['attempts'].sum())

19

3. Add new row with the details name : ‘Rupali’, score: 16, attempts: 2, qualify: ‘yes’, label: ‘L’. After adding the new row display it and remove it to maintain the original DataFrame.

In [41]:
# step3: display the data first to see the order of column labels

In [42]:
print(data)

      name  score  attempts qualify
A    Anjum   15.5         1     yes
B    Anali    9.0         3      no
C   Souria   16.0         2     yes
D   Rockea    NaN         3      no
E    Imani    9.0         2      no
F  Mouliya   30.0         3     yes
G    Julie   17.5         1     yes
H     Rana    NaN         1      no
I    Kavin   16.0         2      no
J    Bosia   20.0         1     yes

In [43]:
# step4 : use the 'loc' method insert a new row label 'K' with the given data. Assign the data given as a list in 
# the order of the column labels

In [44]:
data.loc['L'] = ['Rupali', 16, 2, 'yes']
data

      name  score  attempts qualify
A    Anjum   15.5         1     yes
B    Anali    9.0         3      no
C   Souria   16.0         2     yes
D   Rockea    NaN         3      no
E    Imani    9.0         2      no
F  Mouliya   30.0         3     yes
G    Julie   17.5         1     yes
H     Rana    NaN         1      no
I    Kavin   16.0         2      no
J    Bosia   20.0         1     yes
L   Rupali   16.0         2     yes

In [45]:
# step5: remove the row index label 'L' using drop method and also use inplace=True to avoid returning the removed row label again

In [46]:
data.drop('L', inplace=True)

4. Remove the last 4 rows and save it as a new DataFrame.

In [47]:
print(data)

      name  score  attempts qualify
A    Anjum   15.5         1     yes
B    Anali    9.0         3      no
C   Souria   16.0         2     yes
D   Rockea    NaN         3      no
E    Imani    9.0         2      no
F  Mouliya   30.0         3     yes
G    Julie   17.5         1     yes
H     Rana    NaN         1      no
I    Kavin   16.0         2      no
J    Bosia   20.0         1     yes

In [48]:
# step6: We can use negative index -4 to remove the last 4 rows inside the 'loc' method

In [49]:
new_data2 = data.iloc[:-4]
new_data2

      name  score  attempts qualify
A    Anjum   15.5         1     yes
B    Anali    9.0         3      no
C   Souria   16.0         2     yes
D   Rockea    NaN         3      no
E    Imani    9.0         2      no
F  Mouliya   30.0         3     yes