# Practice_Part_08: Time Series Analysis Solution

#### Exercise_01 Solution
For the global_superstor_2016 data prsent in 'data/global_superstore':
1. Import the datetime module from datetime and convert the columns 'Order Date' and 'Ship Date' to the DatetimeIndex objects
2. Check the DatetimeIndex objects converted for the null values
3. Convert the DatetimeIndex objects to a Series objects with the names 'Order_Date' and 'Ship_Date'
4. Join the datetime Series objects created just above with the global_superstore_2016 columns ['Row ID', 'Order ID', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Category']

In [1]:
import pandas as pd
import numpy as np

1. Import the datetime module from datetime and convert the columns 'Order Date' and 'Ship Date' to the DatetimeIndex objects

In [2]:
global_data = pd.read_csv('data/global_superstore/global_superstore_2016.csv', encoding='latin1')
print(global_data.shape)

(51290, 24)

In [3]:
global_data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11-11-2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,26341,IN-2014-JR162107-41675,02-05-2014,02-07-2014,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical
2,25330,IN-2014-CR127307-41929,10/17/2014,10/18/2014,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.49,Medium
3,13524,ES-2014-KM1637548-41667,1/28/2014,1/30/2014,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,($96.54),910.16,Medium
4,47221,SG-2014-RH9495111-41948,11-05-2014,11-06-2014,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.04,Critical

In [4]:
from datetime import datetime

In [5]:
global_data.columns.values

array(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Postal Code', 'City',
       'State', 'Country', 'Region', 'Market', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'], dtype=object)

In [6]:
global_data['Order Date']

0        11-11-2014
1        02-05-2014
2        10/17/2014
3         1/28/2014
4        11-05-2014
            ...
51285     6/19/2015
51286    05-06-2014
51287     8/26/2012
51288     2/17/2013
51289     5/22/2013
Name: Order Date, Length: 51290, dtype: object

In [7]:
order_date = global_data['Order Date'].tolist()
print(order_date[:20])

['11-11-2014', '02-05-2014', '10/17/2014', '1/28/2014', '11-05-2014', '6/28/2014', '11-06-2012', '4/14/2013', '11-11-2014', '03-06-2012', '03-06-2012', '4/19/2013', '12/26/2012', '11/13/2013', '06-06-2014', '7/31/2015', '2/19/2012', '09-08-2015', '1/31/2015', '12-05-2015']

In [8]:
order_datetime = pd.to_datetime(order_date)
order_datetime

DatetimeIndex(['2014-11-11', '2014-02-05', '2014-10-17', '2014-01-28',
               '2014-11-05', '2014-06-28', '2012-11-06', '2013-04-14',
               '2014-11-11', '2012-03-06',
               ...
               '2014-07-09', '2015-06-09', '2015-08-05', '2015-05-30',
               '2013-12-28', '2015-06-19', '2014-05-06', '2012-08-26',
               '2013-02-17', '2013-05-22'],
              dtype='datetime64[ns]', length=51290, freq=None)

In [9]:
ship_date = global_data['Ship Date'].tolist()

In [10]:
ship_datetime = pd.to_datetime(ship_date)
ship_datetime

DatetimeIndex(['2014-11-13', '2014-02-07', '2014-10-18', '2014-01-30',
               '2014-11-06', '2014-07-01', '2012-11-08', '2013-04-18',
               '2014-11-13', '2012-03-07',
               ...
               '2014-07-09', '2015-06-11', '2015-08-10', '2015-05-30',
               '2013-12-31', '2015-06-19', '2014-05-10', '2012-08-31',
               '2013-02-21', '2013-05-26'],
              dtype='datetime64[ns]', length=51290, freq=None)

2. Check the DatetimeIndex objects converted for the null values

In [11]:
order_datetime[order_datetime.isnull()]

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [12]:
order_datetime[order_datetime.notnull()]

DatetimeIndex(['2014-11-11', '2014-02-05', '2014-10-17', '2014-01-28',
               '2014-11-05', '2014-06-28', '2012-11-06', '2013-04-14',
               '2014-11-11', '2012-03-06',
               ...
               '2014-07-09', '2015-06-09', '2015-08-05', '2015-05-30',
               '2013-12-28', '2015-06-19', '2014-05-06', '2012-08-26',
               '2013-02-17', '2013-05-22'],
              dtype='datetime64[ns]', length=51290, freq=None)

3. Convert the DatetimeIndex objects to a Series objects with the names 'Order_Date' and 'Ship_Date'

In [13]:
series1 = pd.Series(order_datetime, name='Order_Date')
series2 = pd.Series(ship_datetime, name='Ship_Date')
series1[:2]

0   2014-11-11
1   2014-02-05
Name: Order_Date, dtype: datetime64[ns]

4. Join the datetime Series objects created just above with the global_superstore_2016 columns ['Row ID', 'Order ID', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Category']

In [14]:
data_modified = pd.concat([series1, series2, global_data['Row ID'], global_data['Order ID'], global_data['Ship Mode'], 
                           global_data['Customer ID'], global_data['Customer Name'], global_data['Segment'], 
                           global_data['Category']], axis=1)

#### Exercise_02 Solution
For the data created in Exercise_01 to the data 'global_superstor_2016'
1. Set the Series 'Order_Date' created as the index of the DataFrame 'data_modified'
2. Check whether the DatetimeIndex of the DataFRame is unique or not
3. Find the number of orders made in each year for the data 'global_superstore_2016'
4. Group the 'indexed_data' on level '0' that is on the DatetimeIndex object and count the number of Orders made for any arbitrary date

In [15]:
data_modified.head()

,Order_Date,Ship_Date,Row ID,Order ID,Ship Mode,Customer ID,Customer Name,Segment,Category
0,2014-11-11,2014-11-13,40098,CA-2014-AB10015140-41954,First Class,AB-100151402,Aaron Bergman,Consumer,Technology
1,2014-02-05,2014-02-07,26341,IN-2014-JR162107-41675,Second Class,JR-162107,Justin Ritter,Corporate,Furniture
2,2014-10-17,2014-10-18,25330,IN-2014-CR127307-41929,First Class,CR-127307,Craig Reiter,Consumer,Technology
3,2014-01-28,2014-01-30,13524,ES-2014-KM1637548-41667,First Class,KM-1637548,Katherine Murray,Home Office,Technology
4,2014-11-05,2014-11-06,47221,SG-2014-RH9495111-41948,Same Day,RH-9495111,Rick Hansen,Consumer,Technology

1. Set the Series 'Order_Date' created as the index of the DataFrame 'data_modified'

In [16]:
indexed_data = data_modified.set_index(['Order_Date'])
indexed_data

,Ship_Date,Row ID,Order ID,Ship Mode,Customer ID,Customer Name,Segment,Category
Order_Date,,,,,,,,
2014-11-11,2014-11-13,40098,CA-2014-AB10015140-41954,First Class,AB-100151402,Aaron Bergman,Consumer,Technology
2014-02-05,2014-02-07,26341,IN-2014-JR162107-41675,Second Class,JR-162107,Justin Ritter,Corporate,Furniture
2014-10-17,2014-10-18,25330,IN-2014-CR127307-41929,First Class,CR-127307,Craig Reiter,Consumer,Technology
2014-01-28,2014-01-30,13524,ES-2014-KM1637548-41667,First Class,KM-1637548,Katherine Murray,Home Office,Technology
2014-11-05,2014-11-06,47221,SG-2014-RH9495111-41948,Same Day,RH-9495111,Rick Hansen,Consumer,Technology
...,...,...,...,...,...,...,...,...
2015-06-19,2015-06-19,29002,IN-2015-KE1642066-42174,Same Day,KE-1642066,Katrina Edelman,Corporate,Office Supplies
2014-05-06,2014-05-10,34337,US-2014-ZD21925140-41765,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,Furniture
2012-08-26,2012-08-31,31315,CA-2012-ZD21925140-41147,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,Office Supplies
2013-02-17,2013-02-21,9596,MX-2013-RB1979518-41322,Standard Class,RB-1979518,Ross Baird,Home Office,Office Supplies
2013-05-22,2013-05-26,6147,MX-2013-MC1810093-41416,Second Class,MC-1810093,Mick Crebagga,Consumer,Office Supplies

In [17]:
indexed_data.index

DatetimeIndex(['2014-11-11', '2014-02-05', '2014-10-17', '2014-01-28',
               '2014-11-05', '2014-06-28', '2012-11-06', '2013-04-14',
               '2014-11-11', '2012-03-06',
               ...
               '2014-07-09', '2015-06-09', '2015-08-05', '2015-05-30',
               '2013-12-28', '2015-06-19', '2014-05-06', '2012-08-26',
               '2013-02-17', '2013-05-22'],
              dtype='datetime64[ns]', name='Order_Date', length=51290, freq=None)

2. Check whether the DatetimeIndex of the DataFRame is unique or not

In [18]:
indexed_data.index.is_unique

False

3. Find the number of orders made in each year for the data 'global_superstore_2016'

In [19]:
len(indexed_data['2012'])

C:\Users\Adel\AppData\Local\Temp\ipykernel_1572\284034243.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  len(indexed_data['2012'])

8998

In [20]:
len(indexed_data['2013'])

C:\Users\Adel\AppData\Local\Temp\ipykernel_1572\3762341127.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  len(indexed_data['2013'])

10962

In [21]:
len(indexed_data['2014'])

C:\Users\Adel\AppData\Local\Temp\ipykernel_1572\3286795078.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  len(indexed_data['2014'])

13799

In [22]:
len(indexed_data['2015'])

C:\Users\Adel\AppData\Local\Temp\ipykernel_1572\914659466.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  len(indexed_data['2015'])

17531

In [23]:
print(13799+17531+8998+10962)

51290

4. Group the 'indexed_data' on level '0' that is on the DatetimeIndex object and count the number of Orders made for any arbitrary date

In [24]:
grouped = indexed_data.groupby(level=0)['Order ID']

In [25]:
print(grouped.count()[:50])

Order_Date
2012-01-01     6
2012-01-02     1
2012-01-03    20
2012-01-04    16
2012-01-05     7
2012-01-06     8
2012-01-07    25
2012-01-08     9
2012-01-09     8
2012-01-10    25
2012-01-11    22
2012-01-12    15
2012-01-13    11
2012-01-14    26
2012-01-15    13
2012-01-16     1
2012-01-17    12
2012-01-18     5
2012-01-19    11
2012-01-20    16
2012-01-21    30
2012-01-22    15
2012-01-23     7
2012-01-24    21
2012-01-25    11
2012-01-26    31
2012-01-27    21
2012-01-28     7
2012-01-29     4
2012-01-30     9
2012-01-31    20
2012-02-01    17
2012-02-02    27
2012-02-03     7
2012-02-04    12
2012-02-05     6
2012-02-06     1
2012-02-07    13
2012-02-08    10
2012-02-09    22
2012-02-10    30
2012-02-11     8
2012-02-12    14
2012-02-13     1
2012-02-14    22
2012-02-15    22
2012-02-16    20
2012-02-17    10
2012-02-18    16
2012-02-19     3
Name: Order ID, dtype: int64